body
{
      background-color: #333333;
      color: #ff08ff;
}
h1
{
       max-width: 100%;
       color: #ff00ff; font-family: Arial; font-size: 36px
}
figure
{
      font-size: 1.5em;
}
a:link
{
        color: #ff00ff;
}
a:visited
{
        color: #00ffff;
}
a:hover
{
        color: #ff88ff;
}
